/*
	Reference Styling for a Pan and Zoom Viewer
*/
@media all {
  /*
  	Definitions
  */
  /*
  	Constants
  */
  /*
  	Hides text in the margin
  */
  /*
  	Turns a button into an icon
  */
  /*
  	Centres a graphic inside an icon
  */
  /*
  	Offers both the pixel and rem value of a single property
  */
  /*
  	Offers both the pixel and rem values of a shorthand property
  */
  /*
  	Offers the text size as both the pixel and rem value
  */
  /*
  	Adds vendor prefixed to a property
  */
  /*
  	Applies the "clearfix" hack to a container with floating content
  */
  /*
  	Typography
  */
  /*
  	viewer
  */
  /* line 12, ../../src/scss/useful-viewer.scss */
  div.viewer {
    display: block;
    height: 512px;
    overflow: hidden;
    position: relative;
    visibility: hidden;
    width: 100%;
  }
  /* line 19, ../../src/scss/useful-viewer.scss */
  div.viewer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-interpolation-mode: bicubic;
  }
  /* line 23, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper {
    background: Transparent;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  /* line 33, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background,
  div.viewer div.wrapper div.canvas {
    background: Transparent;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  /* line 42, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background figure,
  div.viewer div.wrapper div.canvas figure {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 5;
  }
  /* line 50, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background figure img,
  div.viewer div.wrapper div.canvas figure img {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    vertical-align: top;
  }
  /* line 56, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background figure img.tile_hidden,
  div.viewer div.wrapper div.canvas figure img.tile_hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  /* line 59, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background figure img.tile_visible,
  div.viewer div.wrapper div.canvas figure img.tile_visible {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* line 63, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background .figure_passive,
  div.viewer div.wrapper div.canvas .figure_passive {
    visibility: hidden;
  }
  /* line 66, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background .figure_active,
  div.viewer div.wrapper div.canvas .figure_active {
    visibility: visible;
  }
  /* line 69, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background .figure_fadeout,
  div.viewer div.wrapper div.canvas .figure_fadeout {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    z-index: 4;
  }
  /* line 76, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background .figure_fadein,
  div.viewer div.wrapper div.canvas .figure_fadein {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    z-index: 5;
  }
  /* line 83, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background .figure_leafout,
  div.viewer div.wrapper div.canvas .figure_leafout {
    -webkit-transition-property: clip, opacity, -webkit-transform;
    -moz-transition-property: clip, opacity, -moz-transform;
    -o-transition-property: clip, opacity, -o-transform;
    transition-property: clip, opacity, transform;
    -webkit-transition-duration: 0.6s, 0.6s, 0.6s;
    -moz-transition-duration: 0.6s, 0.6s, 0.6s;
    -o-transition-duration: 0.6s, 0.6s, 0.6s;
    transition-duration: 0.6s, 0.6s, 0.6s;
    -webkit-transition-timing-function: ease, ease, ease;
    -moz-transition-timing-function: ease, ease, ease;
    -o-transition-timing-function: ease, ease, ease;
    transition-timing-function: ease, ease, ease;
    z-index: 4;
  }
  /* line 89, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background .figure_leafin,
  div.viewer div.wrapper div.canvas .figure_leafin {
    -webkit-transition-property: clip, opacity, -webkit-transform;
    -moz-transition-property: clip, opacity, -moz-transform;
    -o-transition-property: clip, opacity, -o-transform;
    transition-property: clip, opacity, transform;
    -webkit-transition-duration: 0.6s, 0.6s, 0.6s;
    -moz-transition-duration: 0.6s, 0.6s, 0.6s;
    -o-transition-duration: 0.6s, 0.6s, 0.6s;
    transition-duration: 0.6s, 0.6s, 0.6s;
    -webkit-transition-timing-function: ease, ease, ease;
    -moz-transition-timing-function: ease, ease, ease;
    -o-transition-timing-function: ease, ease, ease;
    transition-timing-function: ease, ease, ease;
    z-index: 5;
  }
  /* line 96, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background {
    z-index: 1;
  }
  /* line 98, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.background figure {
    z-index: 2;
  }
  /* line 102, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.canvas.canvas_lens {
    border: 5px solid rgba(0, 0, 0, 0.25);
  }
  /* line 105, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper div.canvas.canvas_hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 112, ../../src/scss/useful-viewer.scss */
  div.viewer div.wrapper:hover div.canvas.canvas_hidden,
  div.viewer div.wrapper div.canvas.canvas_visible {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 119, ../../src/scss/useful-viewer.scss */
  div.viewer div.cover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    opacity: 0.01;
    background: #000;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
  }

  /*
  	Floating Buttons
  */
  /* line 137, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu button {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    background-color: #ff6a00;
    border: none;
    cursor: pointer;
    height: 32px;
    margin: 0;
    opacity: 0.3;
    padding: 0;
    position: absolute;
    width: 32px;
    z-index: 10;
  }
  /* line 152, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu button span {
    background: Transparent url(../img/viewer.png) no-repeat 0 0;
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
  }
  /* line 157, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu button:hover {
    background-color: #ff9800;
  }
  /* line 160, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu button.disabled, div.viewer nav.buttons menu button.disabled:hover {
    background-color: #7f7f7f;
  }
  /* line 165, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.zoom button.increase {
    right: 10px;
    top: 10px;
  }
  /* line 168, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.zoom button.increase span {
    background-position: 0% -32px;
  }
  /* line 172, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.zoom button.decrease {
    right: 10px;
    top: 52px;
  }
  /* line 175, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.zoom button.decrease span {
    background-position: 100% -32px;
  }
  /* line 180, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf {
    background: Transparent none;
  }
  /* line 182, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf button.increase {
    right: 10px;
    top: 94px;
  }
  /* line 185, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf button.increase span {
    background-position: 100% -64px;
  }
  /* line 189, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf button.decrease {
    display: none;
  }
  /* line 191, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf button.decrease span {
    background-position: 0% -64px;
  }
  /* line 195, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf button.reset {
    right: 10px;
    top: 94px;
  }
  /* line 198, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.leaf button.reset span {
    background-position: 50% -64px;
    margin-left: 1px;
    width: 26px;
  }
  /* line 206, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.spin button.increase {
    display: none;
    right: 10px;
    top: 136px;
  }
  /* line 210, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.spin button.increase span {
    background-position: 100% 0;
  }
  /* line 214, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.spin button.decrease {
    right: 10px;
    top: 94px;
  }
  /* line 217, ../../src/scss/useful-viewer.scss */
  div.viewer nav.buttons menu.spin button.decrease span {
    background-position: 0% 0;
  }

  /*
  	Default Toolbar
  */
  /* line 228, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: #ff6a00;
    border: solid 1px #fff;
    bottom: 0%;
    display: block;
    height: 34px;
    left: 50%;
    margin: 0 0 5% -64px;
    opacity: 0.3;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: hidden;
    width: 130px;
    z-index: 7;
  }
  /* line 247, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu button {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    background-color: #ff6a00;
    border: none;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    position: absolute;
    width: 32px;
    z-index: 10;
  }
  /* line 259, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu button span {
    background: Transparent url(../img/viewer.png) no-repeat 0 0;
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
  }
  /* line 264, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu button:hover {
    background-color: #ff9800;
  }
  /* line 267, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu button.disabled, div.viewer nav.toolbar menu button.disabled:hover {
    background-color: #7f7f7f;
    cursor: default;
  }
  /* line 273, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.zoom button.increase {
    border-left: solid 1px #fff;
    right: 32px;
    top: 0;
  }
  /* line 277, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.zoom button.increase span {
    background-position: 0% -32px;
  }
  /* line 281, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.zoom button.decrease {
    left: 32px;
    top: 0;
  }
  /* line 284, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.zoom button.decrease span {
    background-position: 100% -32px;
  }
  /* line 290, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf button.increase {
    border-left: solid 1px #fff;
    right: 0;
    top: 0;
  }
  /* line 294, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf button.increase span {
    background-position: 100% -64px;
  }
  /* line 298, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf button.decrease {
    border-right: solid 1px #fff;
    left: 0;
    top: 0;
  }
  /* line 302, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf button.decrease span {
    background-position: 0% -64px;
  }
  /* line 306, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf button.reset {
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
    left: auto;
    right: 96px;
    top: 0;
  }
  /* line 312, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf button.reset span {
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
    background-position: 50% -64px;
  }
  /* line 317, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.leaf form {
    left: 36px;
    top: 4px;
  }
  /* line 323, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.spin button.increase {
    border-right: solid 1px #fff;
    left: 0;
    top: 0;
  }
  /* line 327, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.spin button.increase span {
    background-position: 100% 0;
  }
  /* line 331, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.spin button.decrease {
    border-left: solid 1px #fff;
    right: 0;
    top: 0;
  }
  /* line 335, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar menu.spin button.decrease span {
    background-position: 0% 0;
  }
  /* line 341, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar.catalogue {
    margin-left: -128px;
    width: 256px;
  }
  /* line 345, ../../src/scss/useful-viewer.scss */
  div.viewer nav.toolbar.catalogue menu.zoom button.decrease {
    left: auto;
    right: 64px;
  }

  /*
  	Slider Toolbar
  */
  /* line 356, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background-color: #ff6a00;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: hidden;
    z-index: 7;
  }
  /* line 369, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider div.meter, div.viewer menu.slider meter {
    background-color: #fff;
    display: block;
    height: 8px;
    left: 48px;
    margin: -4px 0 0 0;
    overflow: visible;
    position: absolute;
    right: 48px;
    top: 50%;
    z-index: 8;
  }
  /* line 380, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider div.meter div, div.viewer menu.slider meter div {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    background-color: #ff6a00;
    border: solid 1px #fff;
    display: block;
    height: 28px;
    left: 50%;
    margin: -14px 0 0 -14px;
    position: absolute;
    top: 50%;
    width: 28px;
    z-index: 9;
  }
  /* line 392, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider div.meter div span, div.viewer menu.slider meter div span {
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
    background: Transparent url(../img/viewer.png) no-repeat 0 0;
  }
  /* line 397, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider div.meter div:hover, div.viewer menu.slider div.meter div.hover, div.viewer menu.slider meter div:hover, div.viewer menu.slider meter div.hover {
    background-color: #ff9800;
  }
  /* line 401, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider button {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    background-color: #ff6a00;
    border: none;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: visible;
    position: absolute;
    width: 32px;
    z-index: 10;
  }
  /* line 414, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider button span {
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
    background: Transparent url(../img/viewer.png) no-repeat 0 0;
  }
  /* line 420, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider button:hover {
    background-color: #ff9800;
  }
  /* line 423, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider button.increase {
    left: 0;
    top: 0;
  }
  /* line 427, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider button.decrease {
    bottom: 0;
    right: 0;
  }
  /* line 431, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider div.cover {
    cursor: pointer;
    z-index: 9;
  }

  /*
  	Spin Toolbar
  */
  /* line 441, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.spin {
    bottom: 0%;
    margin-bottom: 5%;
    height: 32px;
    left: 5%;
    right: 15%;
  }
  /* line 448, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.spin div.meter span, div.viewer menu.slider.spin meter span {
    background-position: 50% 0;
  }
  /* line 452, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.spin button.increase {
    border-right: solid 1px #fff;
  }
  /* line 454, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.spin button.increase span {
    background-position: 0 0;
  }
  /* line 458, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.spin button.decrease {
    border-left: solid 1px #fff;
  }
  /* line 460, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.spin button.decrease span {
    background-position: 100% 0;
  }

  /*
  	Zoom Toolbar
  */
  /* line 470, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom {
    bottom: 0%;
    margin-bottom: 15%;
    right: 5%;
    top: 5%;
    width: 32px;
  }
  /* line 476, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom div.meter, div.viewer menu.slider.zoom meter {
    bottom: 48px;
    height: auto;
    left: 50%;
    margin: 0 0 0 -4px;
    top: 48px;
    width: 8px;
    -webkit-appearance: none;
    appearance: none;
  }
  /* line 485, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom div.meter span, div.viewer menu.slider.zoom meter span {
    background-position: 50% -32px;
  }
  /* line 489, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom button.increase {
    border-bottom: solid 1px #fff;
  }
  /* line 491, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom button.increase span {
    background-position: 0 -32px;
  }
  /* line 495, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom button.decrease {
    border-top: solid 1px #fff;
  }
  /* line 497, ../../src/scss/useful-viewer.scss */
  div.viewer menu.slider.zoom button.decrease span {
    background-position: 100% -32px;
  }

  /*
  	Leafing Toolbar
  */
  /* line 507, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf {
    background-color: #ff6a00;
    bottom: 0%;
    margin-bottom: 5%;
    margin-left: -100px;
    height: 32px;
    left: 50%;
    width: 200px;
  }
  /* line 515, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button {
    background-color: #d45800;
  }
  /* line 519, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button.increase {
    left: auto;
    right: 49px;
  }
  /* line 522, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button.increase span {
    background-position: 100% -64px;
  }
  /* line 526, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button.decrease {
    left: 0;
    right: auto;
  }
  /* line 529, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button.decrease span {
    background-position: 0 -64px;
  }
  /* line 533, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button.reset {
    border-left: solid 1px #fff;
    right: 0;
    top: 0;
    width: 32px;
  }
  /* line 538, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf button.reset span {
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
    background-position: 50% -64px;
  }
  /* line 543, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf form {
    height: 24px;
    left: 36px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    width: 80px;
  }
  /* line 551, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf form input {
    background: #fff;
    border: none;
    color: #333;
    font-size: 14px;
    font-family: Arial, Sans-Serif;
    height: 24px;
    line-height: 16px;
    margin: 0;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    width: 32px;
  }
  /* line 565, ../../src/scss/useful-viewer.scss */
  div.viewer menu.leaf form span.count {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Sans-Serif;
    height: 24px;
    padding: 4px;
    line-height: 16px;
    vertical-align: middle;
  }

  /*
  	Thumbnails
  */
  /* line 582, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails {
    bottom: 0;
    height: 28%;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  /* line 589, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div {
    height: 100%;
    margin: 1px 41px 0 41px;
    position: relative;
    overflow: hidden;
  }
  /* line 594, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 10;
  }
  /* line 604, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul li {
    display: inline;
    list-style-type: none;
  }
  /* line 607, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul li a {
    margin-right: 1px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    height: 100%;
    width: 25%;
  }
  /* line 615, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul li a img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    filter: none;
    border: none;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    min-height: 101%;
    min-width: 101%;
    position: absolute;
    top: 0;
  }
  /* line 632, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul li a:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* line 636, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul li a.thumbnails_active {
    background-color: #FF6A00;
  }
  /* line 638, ../../src/scss/useful-viewer.scss */
  div.viewer nav.thumbnails div ul li a.thumbnails_active img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }

  /*
  	Thumbnails Controls
  */
  /* line 652, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller {
    position: absolute;
    height: 100%;
    left: 0;
    margin: 1px 0 0 0;
    padding: 0;
    top: 0;
    width: 100%;
  }
  /* line 660, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 58px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 20;
  }
  /* line 673, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button span {
    background: Transparent url(../img/viewer.png) no-repeat 0 0;
    content: '';
    display: block;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    top: 50%;
    width: 32px;
  }
  /* line 678, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button:hover {
    background-color: #ff9800;
  }
  /* line 681, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button.previous {
    left: 0;
  }
  /* line 683, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button.previous span {
    background-position: 0% -64px;
  }
  /* line 687, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button.next {
    right: 0;
  }
  /* line 689, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button.next span {
    background-position: 100% -64px;
  }
  /* line 693, ../../src/scss/useful-viewer.scss */
  div.viewer nav menu.scroller button.disabled {
    background-color: #7f7f7f;
    cursor: default;
  }

  /*
  	hover state
  */
  /* line 704, ../../src/scss/useful-viewer.scss */
  div.viewer:hover div.canvas.canvas_hidden {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 710, ../../src/scss/useful-viewer.scss */
  div.viewer:hover nav.toolbar {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
  }
  /* line 714, ../../src/scss/useful-viewer.scss */
  div.viewer:hover menu.slider {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    filter: none;
    visibility: visible;
  }
  /* line 721, ../../src/scss/useful-viewer.scss */
  div.viewer:hover nav.buttons menu button {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /*
  	3D Rotation Variant
  */
  /* line 731, ../../src/scss/useful-viewer.scss */
  div.viewer.spin_rotation div.wrapper {
    background: #000;
  }

  /*
  	2D Slideshow Variant
  */
  /* line 739, ../../src/scss/useful-viewer.scss */
  div.viewer.spin_slideshow div.wrapper {
    background: #000;
  }
  /* line 742, ../../src/scss/useful-viewer.scss */
  div.viewer.spin_slideshow menu.zoom {
    margin-bottom: 5%;
  }

  /*
  	2D Catalogue Variant
  */
  /* line 750, ../../src/scss/useful-viewer.scss */
  div.viewer.spin_catalogue div.wrapper {
    background: #000;
  }
}
@media all {
  /*
  	The root element
  */
  /* line 8, ../../src/scss/_typography.scss */
  html {
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 75%;
    height: 100%;
  }

  /*
  	Sections
  */
  /* line 16, ../../src/scss/_typography.scss */
  body {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    line-height: 21.6px;
    line-height: 1.8rem;
    background: #eee;
    color: #333;
    _height: 100%;
    min-height: 100%;
  }

  /* line 26, ../../src/scss/_typography.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-size: 1rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: normal;
  }

  /* line 32, ../../src/scss/_typography.scss */
  h1 {
    font-size: 22.5px;
    font-size: 1.875rem;
  }

  /* line 35, ../../src/scss/_typography.scss */
  h2 {
    font-size: 19.5px;
    font-size: 1.625rem;
  }

  /* line 38, ../../src/scss/_typography.scss */
  h3 {
    font-size: 15px;
    font-size: 1.25rem;
  }

  /* line 41, ../../src/scss/_typography.scss */
  address {
    display: block;
    font-style: normal;
  }

  /* line 45, ../../src/scss/_typography.scss */
  section, nav, article, aside, hgroup, header, footer {
    display: block;
  }

  /*
  	Grouping content
  */
  /* line 51, ../../src/scss/_typography.scss */
  p {
    font-size: 12px;
    font-size: 1rem;
    display: block;
  }

  /* line 55, ../../src/scss/_typography.scss */
  hr {
    margin-top: 12px;
    margin-top: 1rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    background-color: #333;
    border: none;
    clear: both;
    color: #333;
    display: block;
    height: 1px;
    width: 100%;
  }

  /* line 65, ../../src/scss/_typography.scss */
  ul {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 24px;
    margin-left: 2rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /* line 71, ../../src/scss/_typography.scss */
  dl {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  /* line 75, ../../src/scss/_typography.scss */
  dt {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  /* line 80, ../../src/scss/_typography.scss */
  dd {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
  }

  /* line 84, ../../src/scss/_typography.scss */
  pre, dialog, blockquote, ol {
    display: block;
  }

  /*
  	Text-level semantics
  */
  /* line 90, ../../src/scss/_typography.scss */
  a {
    color: #ff6a00;
    text-decoration: underline;
  }

  /* line 94, ../../src/scss/_typography.scss */
  a:hover {
    color: #ff9800;
    text-decoration: underline;
  }

  /* line 98, ../../src/scss/_typography.scss */
  sub {
    line-height: 0;
  }

  /* line 101, ../../src/scss/_typography.scss */
  sup {
    line-height: 0;
  }

  /* line 104, ../../src/scss/_typography.scss */
  time, progress, meter {
    display: block;
  }

  /*
  	Embedded content
  */
  /* line 110, ../../src/scss/_typography.scss */
  img {
    border: none;
    vertical-align: middle;
  }

  /* line 114, ../../src/scss/_typography.scss */
  figure, figcaption, video, audio, canvas {
    display: block;
  }

  /* Tabular data */
  /* line 118, ../../src/scss/_typography.scss */
  table {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    border-collapse: collapse;
  }

  /* line 122, ../../src/scss/_typography.scss */
  caption {
    font-size: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
  }

  /* line 128, ../../src/scss/_typography.scss */
  tr {
    vertical-align: top;
  }
  /* line 130, ../../src/scss/_typography.scss */
  tr:nth-child(2n) {
    background-color: #eeeeee;
  }

  /* line 132, ../../src/scss/_typography.scss */
  th, td {
    padding-top: 6px;
    padding-top: 0.5rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 6px;
    padding-bottom: 0.5rem;
    padding-left: 12px;
    padding-left: 1rem;
  }

  /* line 135, ../../src/scss/_typography.scss */
  th, th a, th a:hover {
    background-color: #ff9800;
    color: #fff;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
  }

  /*
  	Forms
  */
  /* line 146, ../../src/scss/_typography.scss */
  form {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 149, ../../src/scss/_typography.scss */
  fieldset {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 12px;
    margin-bottom: 1rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
    border: none;
  }

  /* line 155, ../../src/scss/_typography.scss */
  legend {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 6px;
    margin-bottom: 0.5rem;
    margin-left: 0px;
    margin-left: 0rem;
    display: block;
    font-weight: bold;
  }

  /* line 161, ../../src/scss/_typography.scss */
  input, button, select, textarea {
    font-size: 12px;
    font-size: 1rem;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    vertical-align: baseline;
  }

  /* line 166, ../../src/scss/_typography.scss */
  input[type=color], input[type=range], input[type=number], input[type=date], input[type=text], input[type=password], input[type=email], select, textarea {
    -webkit-box-shadow: inset 0 0 5px #cccccc;
    -moz-box-shadow: inset 0 0 5px #cccccc;
    box-shadow: inset 0 0 5px #cccccc;
    height: 36px;
    height: 3rem;
    font-size: 12px;
    font-size: 1rem;
    padding: 8.4px;
    padding: 0.7rem;
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
    background: #fff;
    border: solid 1px #333;
    font-family: Arial, Sans-Serif;
  }

  /* line 176, ../../src/scss/_typography.scss */
  input[type=checkbox], input[type=radio] {
    margin-top: 8.4px;
    margin-top: 0.7rem;
    margin-right: 3.6px;
    margin-right: 0.3rem;
    margin-bottom: 8.4px;
    margin-bottom: 0.7rem;
    margin-left: 0px;
    margin-left: 0rem;
  }

  /* line 179, ../../src/scss/_typography.scss */
  select {
    height: 36px;
    height: 3rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  /* line 183, ../../src/scss/_typography.scss */
  textarea {
    height: 120px;
    height: 10rem;
    padding: 8.4px;
    padding: 0.7rem;
  }

  /* line 187, ../../src/scss/_typography.scss */
  button, .button {
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    height: 36px;
    height: 3rem;
    line-height: 36px;
    line-height: 3rem;
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 12px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 12px;
    padding-left: 1rem;
    background-color: #ff6a00;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    text-decoration: none;
  }
  /* line 202, ../../src/scss/_typography.scss */
  button:hover, .button:hover {
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
  }
  /* line 207, ../../src/scss/_typography.scss */
  button.disabled, button.disabled:hover, .button.disabled, .button.disabled:hover {
    background-color: #7f7f7f;
  }

  /*
  	Interactive elements
  */
  /* line 214, ../../src/scss/_typography.scss */
  menu {
    margin-top: 0px;
    margin-top: 0rem;
    margin-right: 0px;
    margin-right: 0rem;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
    margin-left: 0rem;
    padding-top: 0px;
    padding-top: 0rem;
    padding-right: 0px;
    padding-right: 0rem;
    padding-bottom: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
    padding-left: 0rem;
    display: block;
  }

  /*
  	Miscellaneous elements
  */
  /* line 222, ../../src/scss/_typography.scss */
  div {
    display: block;
  }
}
@media all and (max-width: 480px) {
  /* line 231, ../../src/scss/_typography.scss */
  html {
    font-size: 62.5%;
  }
}
