/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	viewer
*/
/* line 4, ../../src/scss/_main.scss */
div.viewer {
  display: block;
  height: 512px;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  width: 100%;
}
/* line 11, ../../src/scss/_main.scss */
div.viewer * {
  box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}
/* line 15, ../../src/scss/_main.scss */
div.viewer div.wrapper {
  background: Transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 24, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background,
div.viewer div.wrapper div.canvas {
  background: Transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* line 34, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background figure,
div.viewer div.wrapper div.canvas figure {
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}
/* line 42, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background figure img,
div.viewer div.wrapper div.canvas figure img {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  vertical-align: top;
}
/* line 48, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background figure img.tile_hidden,
div.viewer div.wrapper div.canvas figure img.tile_hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 51, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background figure img.tile_visible,
div.viewer div.wrapper div.canvas figure img.tile_visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 55, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background .figure_passive,
div.viewer div.wrapper div.canvas .figure_passive {
  visibility: hidden;
}
/* line 58, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background .figure_active,
div.viewer div.wrapper div.canvas .figure_active {
  visibility: visible;
}
/* line 61, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background .figure_fadeout,
div.viewer div.wrapper div.canvas .figure_fadeout {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: 4;
}
/* line 68, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background .figure_fadein,
div.viewer div.wrapper div.canvas .figure_fadein {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: 5;
}
/* line 75, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background .figure_leafout,
div.viewer div.wrapper div.canvas .figure_leafout {
  transition-property: clip, opacity, -webkit-transform;
  transition-property: clip, opacity, transform;
  transition-duration: 0.6s, 0.6s, 0.6s;
  transition-timing-function: ease, ease, ease;
  z-index: 4;
}
/* line 81, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background .figure_leafin,
div.viewer div.wrapper div.canvas .figure_leafin {
  transition-property: clip, opacity, -webkit-transform;
  transition-property: clip, opacity, transform;
  transition-duration: 0.6s, 0.6s, 0.6s;
  transition-timing-function: ease, ease, ease;
  z-index: 5;
}
/* line 88, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background {
  z-index: 1;
}
/* line 90, ../../src/scss/_main.scss */
div.viewer div.wrapper div.background figure {
  z-index: 2;
}
/* line 94, ../../src/scss/_main.scss */
div.viewer div.wrapper div.canvas.canvas_lens {
  border: 5px solid rgba(0, 0, 0, 0.25);
}
/* line 97, ../../src/scss/_main.scss */
div.viewer div.wrapper div.canvas.canvas_hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
/* line 103, ../../src/scss/_main.scss */
div.viewer div.wrapper:hover div.canvas.canvas_hidden,
div.viewer div.wrapper div.canvas.canvas_visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
/* line 111, ../../src/scss/_main.scss */
div.viewer div.cover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 0.01;
  background: #000;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
}

/*
	hover state
*/
/* line 127, ../../src/scss/_main.scss */
div.viewer:hover div.canvas.canvas_hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
/* line 133, ../../src/scss/_main.scss */
div.viewer:hover nav.toolbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}
/* line 137, ../../src/scss/_main.scss */
div.viewer:hover menu.slider {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  visibility: visible;
}
/* line 144, ../../src/scss/_main.scss */
div.viewer:hover nav.buttons menu button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/*
	3D Rotation Variant
*/
/* line 154, ../../src/scss/_main.scss */
div.viewer.spin_rotation div.wrapper {
  background: #000;
}

/*
	2D Slideshow Variant
*/
/* line 162, ../../src/scss/_main.scss */
div.viewer.spin_slideshow div.wrapper {
  background: #000;
}
/* line 165, ../../src/scss/_main.scss */
div.viewer.spin_slideshow menu.zoom {
  margin-bottom: 5%;
}

/*
	2D Catalogue Variant
*/
/* line 173, ../../src/scss/_main.scss */
div.viewer.spin_catalogue div.wrapper {
  background: #000;
}

/*
	Floating Buttons
*/
/* line 7, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu button {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  opacity: 0.3;
  padding: 0;
  position: absolute;
  width: 32px;
  z-index: 10;
}
/* line 22, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu button span {
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
/* line 27, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu button:hover {
  background-color: #ff9800;
}
/* line 30, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu button.disabled, div.viewer nav.buttons menu button.disabled:hover {
  background-color: #7f7f7f;
}
/* line 35, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.zoom button.increase {
  right: 10px;
  top: 10px;
}
/* line 38, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.zoom button.increase span {
  background-position: 0% -32px;
}
/* line 42, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.zoom button.decrease {
  right: 10px;
  top: 52px;
}
/* line 45, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.zoom button.decrease span {
  background-position: 100% -32px;
}
/* line 50, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf {
  background: Transparent none;
}
/* line 52, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf button.increase {
  right: 10px;
  top: 94px;
}
/* line 55, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf button.increase span {
  background-position: 100% -64px;
}
/* line 59, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf button.decrease {
  display: none;
}
/* line 61, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf button.decrease span {
  background-position: 0% -64px;
}
/* line 65, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf button.reset {
  right: 10px;
  top: 94px;
}
/* line 68, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.leaf button.reset span {
  background-position: 50% -64px;
  margin-left: 1px;
  width: 26px;
}
/* line 76, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.spin button.increase {
  display: none;
  right: 10px;
  top: 136px;
}
/* line 80, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.spin button.increase span {
  background-position: 100% 0;
}
/* line 84, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.spin button.decrease {
  right: 10px;
  top: 94px;
}
/* line 87, ../../src/scss/_buttons.scss */
div.viewer nav.buttons menu.spin button.decrease span {
  background-position: 0% 0;
}

/*
	Default Toolbar
*/
/* line 5, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: #ff6a00;
  border: solid 1px #fff;
  bottom: 0%;
  display: block;
  height: 34px;
  left: 50%;
  margin: 0 0 5% -64px;
  opacity: 0.3;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: hidden;
  width: 130px;
  z-index: 7;
}
/* line 24, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu button {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  position: absolute;
  width: 32px;
  z-index: 10;
}
/* line 36, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu button span {
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
/* line 41, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu button:hover {
  background-color: #ff9800;
}
/* line 44, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu button.disabled, div.viewer nav.toolbar menu button.disabled:hover {
  background-color: #7f7f7f;
  cursor: default;
}
/* line 50, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.zoom button.increase {
  border-left: solid 1px #fff;
  right: 32px;
  top: 0;
}
/* line 54, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.zoom button.increase span {
  background-position: 0% -32px;
}
/* line 58, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.zoom button.decrease {
  left: 32px;
  top: 0;
}
/* line 61, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.zoom button.decrease span {
  background-position: 100% -32px;
}
/* line 67, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf button.increase {
  border-left: solid 1px #fff;
  right: 0;
  top: 0;
}
/* line 71, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf button.increase span {
  background-position: 100% -64px;
}
/* line 75, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf button.decrease {
  border-right: solid 1px #fff;
  left: 0;
  top: 0;
}
/* line 79, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf button.decrease span {
  background-position: 0% -64px;
}
/* line 83, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf button.reset {
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
  left: auto;
  right: 96px;
  top: 0;
}
/* line 89, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf button.reset span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-position: 50% -64px;
}
/* line 94, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.leaf form {
  left: 36px;
  top: 4px;
}
/* line 100, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.spin button.increase {
  border-right: solid 1px #fff;
  left: 0;
  top: 0;
}
/* line 104, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.spin button.increase span {
  background-position: 100% 0;
}
/* line 108, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.spin button.decrease {
  border-left: solid 1px #fff;
  right: 0;
  top: 0;
}
/* line 112, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar menu.spin button.decrease span {
  background-position: 0% 0;
}
/* line 118, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar.catalogue {
  margin-left: -128px;
  width: 256px;
}
/* line 122, ../../src/scss/_toolbar.scss */
div.viewer nav.toolbar.catalogue menu.zoom button.decrease {
  left: auto;
  right: 64px;
}

/*
	Zoom Toolbar
*/
/* line 5, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom {
  bottom: 0%;
  margin-bottom: 15%;
  right: 5%;
  top: 5%;
  width: 32px;
}
/* line 11, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom div.meter, div.viewer menu.slider.zoom meter {
  bottom: 48px;
  height: auto;
  left: 50%;
  margin: 0 0 0 -4px;
  top: 48px;
  width: 8px;
  -webkit-appearance: none;
  appearance: none;
}
/* line 20, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom div.meter span, div.viewer menu.slider.zoom meter span {
  background-position: 50% -32px;
}
/* line 24, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom button.increase {
  border-bottom: solid 1px #fff;
}
/* line 26, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom button.increase span {
  background-position: 0 -32px;
}
/* line 30, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom button.decrease {
  border-top: solid 1px #fff;
}
/* line 32, ../../src/scss/_toolbar-zoom.scss */
div.viewer menu.slider.zoom button.decrease span {
  background-position: 100% -32px;
}

/*
	Spin Toolbar
*/
/* line 5, ../../src/scss/_toolbar-spin.scss */
div.viewer menu.slider.spin {
  bottom: 0%;
  margin-bottom: 5%;
  height: 32px;
  left: 5%;
  right: 15%;
}
/* line 12, ../../src/scss/_toolbar-spin.scss */
div.viewer menu.slider.spin div.meter span, div.viewer menu.slider.spin meter span {
  background-position: 50% 0;
}
/* line 16, ../../src/scss/_toolbar-spin.scss */
div.viewer menu.slider.spin button.increase {
  border-right: solid 1px #fff;
}
/* line 18, ../../src/scss/_toolbar-spin.scss */
div.viewer menu.slider.spin button.increase span {
  background-position: 100% 0;
}
/* line 22, ../../src/scss/_toolbar-spin.scss */
div.viewer menu.slider.spin button.decrease {
  border-left: solid 1px #fff;
}
/* line 24, ../../src/scss/_toolbar-spin.scss */
div.viewer menu.slider.spin button.decrease span {
  background-position: 0 0;
}

/*
	Slider Toolbar
*/
/* line 5, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #ff6a00;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 7;
}
/* line 18, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider div.meter, div.viewer menu.slider meter {
  background-color: #fff;
  display: block;
  height: 8px;
  left: 48px;
  margin: -4px 0 0 0;
  overflow: visible;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 8;
}
/* line 29, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider div.meter div, div.viewer menu.slider meter div {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: solid 1px #fff;
  display: block;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -14px;
  position: absolute;
  top: 50%;
  width: 28px;
  z-index: 9;
}
/* line 41, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider div.meter div span, div.viewer menu.slider meter div span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
}
/* line 46, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider div.meter div:hover, div.viewer menu.slider div.meter div.hover, div.viewer menu.slider meter div:hover, div.viewer menu.slider meter div.hover {
  background-color: #ff9800;
}
/* line 50, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider button {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  position: absolute;
  width: 32px;
  z-index: 10;
}
/* line 63, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider button span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
}
/* line 69, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider button:hover {
  background-color: #ff9800;
}
/* line 72, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider button.increase {
  left: 0;
  top: 0;
}
/* line 76, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider button.decrease {
  bottom: 0;
  right: 0;
}
/* line 80, ../../src/scss/_toolbar-slider.scss */
div.viewer menu.slider div.cover {
  cursor: pointer;
  z-index: 9;
}

/*
	Leafing Toolbar
*/
/* line 5, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf {
  background-color: #ff6a00;
  bottom: 0%;
  margin-bottom: 5%;
  margin-left: -100px;
  height: 32px;
  left: 50%;
  width: 200px;
}
/* line 13, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button {
  background-color: #d45800;
}
/* line 17, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button.increase {
  left: auto;
  right: 49px;
}
/* line 20, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button.increase span {
  background-position: 100% -64px;
}
/* line 24, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button.decrease {
  left: 0;
  right: auto;
}
/* line 27, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button.decrease span {
  background-position: 0 -64px;
}
/* line 31, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button.reset {
  border-left: solid 1px #fff;
  right: 0;
  top: 0;
  width: 32px;
}
/* line 36, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf button.reset span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-position: 50% -64px;
}
/* line 41, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf form {
  height: 24px;
  left: 36px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  width: 80px;
}
/* line 49, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf form input {
  background: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  font-family: Arial, Sans-Serif;
  height: 24px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}
/* line 63, ../../src/scss/_toolbar-leaf.scss */
div.viewer menu.leaf form span.count {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Sans-Serif;
  height: 24px;
  padding: 4px;
  line-height: 16px;
  vertical-align: middle;
}

/*
	Thumbnails
*/
/* line 5, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails {
  bottom: 0;
  height: 28%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
/* line 12, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div {
  height: 100%;
  margin: 1px 41px 0 41px;
  position: relative;
  overflow: hidden;
}
/* line 17, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  z-index: 10;
}
/* line 27, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul li {
  display: inline;
  list-style-type: none;
}
/* line 30, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul li a {
  margin-right: 1px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  height: 100%;
  width: 25%;
}
/* line 38, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul li a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  -webkit-filter: none;
          filter: none;
  border: none;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  min-height: 101%;
  min-width: 101%;
  position: absolute;
  top: 0;
}
/* line 55, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul li a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 59, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul li a.thumbnails_active {
  background-color: #FF6A00;
}
/* line 61, ../../src/scss/_thumbnails.scss */
div.viewer nav.thumbnails div ul li a.thumbnails_active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/*
	Thumbnails Controls
*/
/* line 6, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller {
  position: absolute;
  height: 100%;
  left: 0;
  margin: 1px 0 0 0;
  padding: 0;
  top: 0;
  width: 100%;
}
/* line 14, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 20;
}
/* line 27, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button span {
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
/* line 32, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button:hover {
  background-color: #ff9800;
}
/* line 35, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button.previous {
  left: 0;
}
/* line 37, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button.previous span {
  background-position: 0% -64px;
}
/* line 41, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button.next {
  right: 0;
}
/* line 43, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button.next span {
  background-position: 100% -64px;
}
/* line 47, ../../src/scss/_thumbnails-controls.scss */
div.viewer nav menu.scroller button.disabled {
  background-color: #7f7f7f;
  cursor: default;
}
