/*
	Constants
*/
/*
	Hides text in the margin
*/
/*
	Turns a button into an icon
*/
/*
	Centres a graphic or glyph inside an icon
*/
/*
	Offers both the pixel and rem value of a single property
*/
/*
	Offers both the pixel and rem values of a shorthand property
*/
/*
	Offers the text size as both the pixel and rem value
*/
/*
	Adds vendor prefixed to a property
*/
/*
	Applies the "clearfix" hack to a container with floating content
*/
/*
	viewer
*/
/* line 7, ../../src/scss/useful-viewer.scss */
div.viewer {
  display: block;
  height: 512px;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  width: 100%;
}
/* line 14, ../../src/scss/useful-viewer.scss */
div.viewer * {
  box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}
/* line 18, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper {
  background: Transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/* line 28, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background,
div.viewer div.wrapper div.canvas {
  background: Transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* line 37, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background figure,
div.viewer div.wrapper div.canvas figure {
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}
/* line 45, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background figure img,
div.viewer div.wrapper div.canvas figure img {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  vertical-align: top;
}
/* line 51, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background figure img.tile_hidden,
div.viewer div.wrapper div.canvas figure img.tile_hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 54, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background figure img.tile_visible,
div.viewer div.wrapper div.canvas figure img.tile_visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 58, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background .figure_passive,
div.viewer div.wrapper div.canvas .figure_passive {
  visibility: hidden;
}
/* line 61, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background .figure_active,
div.viewer div.wrapper div.canvas .figure_active {
  visibility: visible;
}
/* line 64, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background .figure_fadeout,
div.viewer div.wrapper div.canvas .figure_fadeout {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 4;
}
/* line 71, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background .figure_fadein,
div.viewer div.wrapper div.canvas .figure_fadein {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 5;
}
/* line 78, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background .figure_leafout,
div.viewer div.wrapper div.canvas .figure_leafout {
  -webkit-transition-property: clip, opacity, -webkit-transform;
  transition-property: clip, opacity, transform;
  -webkit-transition-duration: 0.6s, 0.6s, 0.6s;
  transition-duration: 0.6s, 0.6s, 0.6s;
  -webkit-transition-timing-function: ease, ease, ease;
  transition-timing-function: ease, ease, ease;
  z-index: 4;
}
/* line 84, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background .figure_leafin,
div.viewer div.wrapper div.canvas .figure_leafin {
  -webkit-transition-property: clip, opacity, -webkit-transform;
  transition-property: clip, opacity, transform;
  -webkit-transition-duration: 0.6s, 0.6s, 0.6s;
  transition-duration: 0.6s, 0.6s, 0.6s;
  -webkit-transition-timing-function: ease, ease, ease;
  transition-timing-function: ease, ease, ease;
  z-index: 5;
}
/* line 91, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background {
  z-index: 1;
}
/* line 93, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.background figure {
  z-index: 2;
}
/* line 97, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.canvas.canvas_lens {
  border: 5px solid rgba(0, 0, 0, 0.25);
}
/* line 100, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper div.canvas.canvas_hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 107, ../../src/scss/useful-viewer.scss */
div.viewer div.wrapper:hover div.canvas.canvas_hidden,
div.viewer div.wrapper div.canvas.canvas_visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 114, ../../src/scss/useful-viewer.scss */
div.viewer div.cover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 0.01;
  background: #000;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
}

/*
	Floating Buttons
*/
/* line 132, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu button {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  opacity: 0.3;
  padding: 0;
  position: absolute;
  width: 32px;
  z-index: 10;
}
/* line 147, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu button span {
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
/* line 152, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu button:hover {
  background-color: #ff9800;
}
/* line 155, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu button.disabled, div.viewer nav.buttons menu button.disabled:hover {
  background-color: #7f7f7f;
}
/* line 160, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.zoom button.increase {
  right: 10px;
  top: 10px;
}
/* line 163, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.zoom button.increase span {
  background-position: 0% -32px;
}
/* line 167, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.zoom button.decrease {
  right: 10px;
  top: 52px;
}
/* line 170, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.zoom button.decrease span {
  background-position: 100% -32px;
}
/* line 175, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf {
  background: Transparent none;
}
/* line 177, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf button.increase {
  right: 10px;
  top: 94px;
}
/* line 180, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf button.increase span {
  background-position: 100% -64px;
}
/* line 184, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf button.decrease {
  display: none;
}
/* line 186, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf button.decrease span {
  background-position: 0% -64px;
}
/* line 190, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf button.reset {
  right: 10px;
  top: 94px;
}
/* line 193, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.leaf button.reset span {
  background-position: 50% -64px;
  margin-left: 1px;
  width: 26px;
}
/* line 201, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.spin button.increase {
  display: none;
  right: 10px;
  top: 136px;
}
/* line 205, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.spin button.increase span {
  background-position: 100% 0;
}
/* line 209, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.spin button.decrease {
  right: 10px;
  top: 94px;
}
/* line 212, ../../src/scss/useful-viewer.scss */
div.viewer nav.buttons menu.spin button.decrease span {
  background-position: 0% 0;
}

/*
	Default Toolbar
*/
/* line 223, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #ff6a00;
  border: solid 1px #fff;
  bottom: 0%;
  display: block;
  height: 34px;
  left: 50%;
  margin: 0 0 5% -64px;
  opacity: 0.3;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: hidden;
  width: 130px;
  z-index: 7;
}
/* line 242, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu button {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  position: absolute;
  width: 32px;
  z-index: 10;
}
/* line 254, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu button span {
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
/* line 259, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu button:hover {
  background-color: #ff9800;
}
/* line 262, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu button.disabled, div.viewer nav.toolbar menu button.disabled:hover {
  background-color: #7f7f7f;
  cursor: default;
}
/* line 268, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.zoom button.increase {
  border-left: solid 1px #fff;
  right: 32px;
  top: 0;
}
/* line 272, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.zoom button.increase span {
  background-position: 0% -32px;
}
/* line 276, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.zoom button.decrease {
  left: 32px;
  top: 0;
}
/* line 279, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.zoom button.decrease span {
  background-position: 100% -32px;
}
/* line 285, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf button.increase {
  border-left: solid 1px #fff;
  right: 0;
  top: 0;
}
/* line 289, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf button.increase span {
  background-position: 100% -64px;
}
/* line 293, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf button.decrease {
  border-right: solid 1px #fff;
  left: 0;
  top: 0;
}
/* line 297, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf button.decrease span {
  background-position: 0% -64px;
}
/* line 301, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf button.reset {
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
  left: auto;
  right: 96px;
  top: 0;
}
/* line 307, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf button.reset span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-position: 50% -64px;
}
/* line 312, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.leaf form {
  left: 36px;
  top: 4px;
}
/* line 318, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.spin button.increase {
  border-right: solid 1px #fff;
  left: 0;
  top: 0;
}
/* line 322, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.spin button.increase span {
  background-position: 100% 0;
}
/* line 326, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.spin button.decrease {
  border-left: solid 1px #fff;
  right: 0;
  top: 0;
}
/* line 330, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar menu.spin button.decrease span {
  background-position: 0% 0;
}
/* line 336, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar.catalogue {
  margin-left: -128px;
  width: 256px;
}
/* line 340, ../../src/scss/useful-viewer.scss */
div.viewer nav.toolbar.catalogue menu.zoom button.decrease {
  left: auto;
  right: 64px;
}

/*
	Slider Toolbar
*/
/* line 351, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #ff6a00;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  visibility: hidden;
  z-index: 7;
}
/* line 364, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider div.meter, div.viewer menu.slider meter {
  background-color: #fff;
  display: block;
  height: 8px;
  left: 48px;
  margin: -4px 0 0 0;
  overflow: visible;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 8;
}
/* line 375, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider div.meter div, div.viewer menu.slider meter div {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: solid 1px #fff;
  display: block;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -14px;
  position: absolute;
  top: 50%;
  width: 28px;
  z-index: 9;
}
/* line 387, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider div.meter div span, div.viewer menu.slider meter div span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
}
/* line 392, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider div.meter div:hover, div.viewer menu.slider div.meter div.hover, div.viewer menu.slider meter div:hover, div.viewer menu.slider meter div.hover {
  background-color: #ff9800;
}
/* line 396, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider button {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  position: absolute;
  width: 32px;
  z-index: 10;
}
/* line 409, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider button span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
}
/* line 415, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider button:hover {
  background-color: #ff9800;
}
/* line 418, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider button.increase {
  left: 0;
  top: 0;
}
/* line 422, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider button.decrease {
  bottom: 0;
  right: 0;
}
/* line 426, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider div.cover {
  cursor: pointer;
  z-index: 9;
}

/*
	Spin Toolbar
*/
/* line 436, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.spin {
  bottom: 0%;
  margin-bottom: 5%;
  height: 32px;
  left: 5%;
  right: 15%;
}
/* line 443, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.spin div.meter span, div.viewer menu.slider.spin meter span {
  background-position: 50% 0;
}
/* line 447, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.spin button.increase {
  border-right: solid 1px #fff;
}
/* line 449, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.spin button.increase span {
  background-position: 100% 0;
}
/* line 453, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.spin button.decrease {
  border-left: solid 1px #fff;
}
/* line 455, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.spin button.decrease span {
  background-position: 0 0;
}

/*
	Zoom Toolbar
*/
/* line 465, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom {
  bottom: 0%;
  margin-bottom: 15%;
  right: 5%;
  top: 5%;
  width: 32px;
}
/* line 471, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom div.meter, div.viewer menu.slider.zoom meter {
  bottom: 48px;
  height: auto;
  left: 50%;
  margin: 0 0 0 -4px;
  top: 48px;
  width: 8px;
  -webkit-appearance: none;
  appearance: none;
}
/* line 480, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom div.meter span, div.viewer menu.slider.zoom meter span {
  background-position: 50% -32px;
}
/* line 484, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom button.increase {
  border-bottom: solid 1px #fff;
}
/* line 486, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom button.increase span {
  background-position: 0 -32px;
}
/* line 490, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom button.decrease {
  border-top: solid 1px #fff;
}
/* line 492, ../../src/scss/useful-viewer.scss */
div.viewer menu.slider.zoom button.decrease span {
  background-position: 100% -32px;
}

/*
	Leafing Toolbar
*/
/* line 502, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf {
  background-color: #ff6a00;
  bottom: 0%;
  margin-bottom: 5%;
  margin-left: -100px;
  height: 32px;
  left: 50%;
  width: 200px;
}
/* line 510, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button {
  background-color: #d45800;
}
/* line 514, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button.increase {
  left: auto;
  right: 49px;
}
/* line 517, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button.increase span {
  background-position: 100% -64px;
}
/* line 521, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button.decrease {
  left: 0;
  right: auto;
}
/* line 524, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button.decrease span {
  background-position: 0 -64px;
}
/* line 528, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button.reset {
  border-left: solid 1px #fff;
  right: 0;
  top: 0;
  width: 32px;
}
/* line 533, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf button.reset span {
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  background-position: 50% -64px;
}
/* line 538, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf form {
  height: 24px;
  left: 36px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  width: 80px;
}
/* line 546, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf form input {
  background: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  font-family: Arial, Sans-Serif;
  height: 24px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}
/* line 560, ../../src/scss/useful-viewer.scss */
div.viewer menu.leaf form span.count {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Sans-Serif;
  height: 24px;
  padding: 4px;
  line-height: 16px;
  vertical-align: middle;
}

/*
	Thumbnails
*/
/* line 577, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails {
  bottom: 0;
  height: 28%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
/* line 584, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div {
  height: 100%;
  margin: 1px 41px 0 41px;
  position: relative;
  overflow: hidden;
}
/* line 589, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  z-index: 10;
}
/* line 599, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul li {
  display: inline;
  list-style-type: none;
}
/* line 602, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul li a {
  margin-right: 1px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  height: 100%;
  width: 25%;
}
/* line 610, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul li a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-filter: none;
          filter: none;
  border: none;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  min-height: 101%;
  min-width: 101%;
  position: absolute;
  top: 0;
}
/* line 627, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul li a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 631, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul li a.thumbnails_active {
  background-color: #FF6A00;
}
/* line 633, ../../src/scss/useful-viewer.scss */
div.viewer nav.thumbnails div ul li a.thumbnails_active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/*
	Thumbnails Controls
*/
/* line 647, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller {
  position: absolute;
  height: 100%;
  left: 0;
  margin: 1px 0 0 0;
  padding: 0;
  top: 0;
  width: 100%;
}
/* line 655, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button {
  overflow: hidden;
  position: relative;
  text-align: left;
  text-indent: 58px;
  white-space: nowrap;
  /* Because of Internet Explorer 8 we can't have nice thing. */
  overflow: visible;
  text-indent: -999em;
  background-color: #ff6a00;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 20;
}
/* line 668, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button span {
  background: Transparent url(../img/viewer.png) no-repeat 0 0;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  width: 32px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
/* line 673, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button:hover {
  background-color: #ff9800;
}
/* line 676, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button.previous {
  left: 0;
}
/* line 678, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button.previous span {
  background-position: 0% -64px;
}
/* line 682, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button.next {
  right: 0;
}
/* line 684, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button.next span {
  background-position: 100% -64px;
}
/* line 688, ../../src/scss/useful-viewer.scss */
div.viewer nav menu.scroller button.disabled {
  background-color: #7f7f7f;
  cursor: default;
}

/*
	hover state
*/
/* line 699, ../../src/scss/useful-viewer.scss */
div.viewer:hover div.canvas.canvas_hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 705, ../../src/scss/useful-viewer.scss */
div.viewer:hover nav.toolbar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible;
}
/* line 709, ../../src/scss/useful-viewer.scss */
div.viewer:hover menu.slider {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  visibility: visible;
}
/* line 716, ../../src/scss/useful-viewer.scss */
div.viewer:hover nav.buttons menu button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*
	3D Rotation Variant
*/
/* line 726, ../../src/scss/useful-viewer.scss */
div.viewer.spin_rotation div.wrapper {
  background: #000;
}

/*
	2D Slideshow Variant
*/
/* line 734, ../../src/scss/useful-viewer.scss */
div.viewer.spin_slideshow div.wrapper {
  background: #000;
}
/* line 737, ../../src/scss/useful-viewer.scss */
div.viewer.spin_slideshow menu.zoom {
  margin-bottom: 5%;
}

/*
	2D Catalogue Variant
*/
/* line 745, ../../src/scss/useful-viewer.scss */
div.viewer.spin_catalogue div.wrapper {
  background: #000;
}
