/*
	Thumbnails
*/
div.viewer {
	nav.thumbnails {
		bottom : 0;
		height : 28%;
		left : 0;
		overflow : hidden;
		position : absolute;
		width : 100%;
		div {
			height : 100%;
			margin : 1px 41px 0 41px;
			position : relative;
			overflow : hidden;
			ul {
				transition-property: all;
				transition-duration: 0.3s;
				transition-timing-function: ease;
				height : 100%;
				margin : 0;
				padding : 0;
				position : relative;
				white-space : nowrap;
				z-index : 10;
				li {
					display : inline;
					list-style-type : none;
					a {
						margin-right : 1px;
						display : inline-block;
						overflow : hidden;
						position : relative;
						vertical-align : top;
						height : 100%;
						width : 25%;
						img {
							opacity: 1;
							transition-property: opacity;
							transition-duration: 0.3s;
							transition-timing-function: ease;
							filter : none;
							border : none;
							left : 0;
							margin-left : 0;
							margin-top : 0;
							min-height : 101%;
							min-width : 101%;
							position : absolute;
							top : 0;
						}
					}
					a:hover {
						img {
							opacity: 1;
						}
					}
					a.thumbnails_active {
						background-color : #FF6A00;
						img {
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}
