/*
	Leafing Toolbar
*/
div.viewer {
	menu.leaf {
		background-color : $color-passive;
		bottom : 0%;
		margin-bottom : 5%;
		margin-left : -100px;
		height : 32px;
		left : 50%;
		width : 200px;
		button {
			background-color : $color-active;
			span {}
		}
		button.increase {
			left : auto;
			right : 49px;
			span {
				background-position : 100% -64px;
			}
		}
		button.decrease {
			left : 0;
			right : auto;
			span {
				background-position : 0 -64px;
			}
		}
		button.reset {
			border-left : solid 1px #fff;
			right : 0;
			top : 0;
			width : 32px;
			span {
				@include iconCenter(32);
				background-position : 50% -64px;
			}
		}
		form {
			height : 24px;
			left : 36px;
			margin : 0;
			padding : 0;
			position : absolute;
			top : 4px;
			width : 80px;
			input {
				background : #fff;
				border : none;
				color : #333;
				font-size : 14px;
				font-family : Arial, Sans-Serif;
				height : 24px;
				line-height : 16px;
				margin : 0;
				padding : 4px;
				text-align : center;
				vertical-align : middle;
				width : 32px;
			}
			span.count {
				color : #fff;
				display : inline-block;
				font-size : 14px;
				font-family : Arial, Sans-Serif;
				height : 24px;
				padding : 4px;
				line-height : 16px;
				vertical-align : middle;
			}
		}
	}
}
